div.titre-recherche {
    align-items      : center;
    height           : 3rem;
    padding-left     : 30px;
    padding-right    : 30px;
    border-radius    : var(--radius);
    background-color : var(--bleu-clair);
    color            : var(--blanc);
    font-size        : 1.1em;
    margin           : 0.67em 0;
    font-weight      : bold;
}


.champs > label {
    margin : 0 5px;
}

.droite {
    align-items      : center;
    height           : 3rem;
    padding          : 0 40px;
    border-radius    : var(--radius);
    background-color : var(--bleu-clair);
    color            : var(--blanc);
    font-size        : 1.1em;
}

.rechercher {
    display          : inline-block;
    border-radius    : 4px;
    background-color : var(--bleu-clair);
    border           : none;
    color            : #FFFFFF;
    text-align       : center;
    font-size        : 18px;
    padding          : 10px;
    width            : 35%;
    transition       : all 0.5s;
    cursor           : pointer;
    margin           : 15px;
}

.rechercher > span {
    cursor     : pointer;
    display    : inline-block;
    position   : relative;
    transition : 0.5s;
}

.rechercher > span:after {
    content    : '\00bb';
    position   : absolute;
    opacity    : 0;
    top        : 0;
    right      : -20px;
    transition : 0.5s;
}

.rechercher:hover > span {
    padding-right : 25px;
}

.rechercher:hover > span:after {
    opacity : 1;
    right   : 0;
}