.faq_question {
    overflow         : auto;
    background-color : rgb(117, 187, 194);
    color            : #fff;
    font-style       : italic;
    cursor           : pointer;
    padding          : 18px;
    width            : 100%;
    text-align       : left;
    border           : none;
    outline          : none;
    transition       : 0.7s;
}

.active, .faq_question:hover {
    background-color : rgb(62, 102, 108);
}

.faq_answer_container {
    height   : 0;
    overflow : hidden;
    padding  : 10px;
    width    : 100%;
}
