footer{
    border-radius: 2px;
}
.footer_principal{
	background-color: rgb(88, 89, 91);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 25px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
}
.footer_principal .footer_gauche p{
	color:  rgb(231, 231, 231);
	font-size: 14px;
    margin: 0;
    font-size: 17px;
}
.footer_principal p.footer_lien{
	font-size:20px;
	font-weight: bold;
	color:  #ffffff;
}

.footer_principal p.footer_liens a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer_principal .footer_droit{
	float: right;
}

.footer_principal .footer_droit a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color:  #33383b;
	border-radius: 2px;
	margin-left: 3px;
}

#header .centre{
    font-size: 30px;
    text-align:center;
    margin:20px;
}
#header .left{
    float:left;
}
#header .right{
    float:right;
}
#header{
    padding-right: 20px;
    padding-left: 20px;
}
.boutton {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: #0078D6;
    background-color: rgb(190, 221, 249);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(73, 118, 157);

  }
.boutton:hover {
    background-color: #3a3a3a;
}
.boutton:active {
    background-color: #949494;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
