.h1{
    align-items:      center;
    height:           3rem;
    padding:          0 30px;
    border-radius:    var(--radius);
    background-color: var(--bleu-clair);
    color:            var(--blanc);
    font-size:        1.1em;
}

.h2{
    align-items:      center;
    height:           3rem;
    padding:          0 30px;
    border-radius:    var(--radius);
    background-color: var(--bleu-clair);
    color:            var(--blanc);
    font-size:        1.1em;
    align-content: stretch;
}
.h3{
    align-items:      center;
    height:           3rem;
    padding:          0 30px;
    border-radius:    var(--radius);
    background-color: var(--bleu-clair);
    color:            var(--blanc);
    font-size:        1.1em;
}
.h4{
    align-items:      center;
    height:           3rem;
    padding:          0 30px;
    border-radius:    var(--radius);
    background-color: var(--bleu-clair);
    color:            var(--blanc);
    font-size:        1.1em;
}

.sticky-header-rendezvous{
    display:          flex;
    clear:            right;
    position:         sticky;
    position:         -webkit-sticky;
    justify-content:  space-between;
    align-items:      center;
    z-index:          1;
    top:              0;
    height:           3rem;
    padding:          0 30px;
    border-radius:    var(--radius);
    background-color: var(--bleu-clair);
    color:            var(--blanc);
    font-size:        1.1em;
}
.rendezvous{
    border:        1px solid var(--bleu-fonce);
    border-radius: var(--radius);
    padding:       25px;
    font-size:     1.5rem;
    margin:        var(--padding) auto;
}

div.rdv{
    height: 100%;
    overflow-y: auto;
}
.poubelle{
    border-left: 60%;
}