/*
 * Feuille de style globale
*/
/* Variables globales */
:root{
    /* --blue:       #007bff;
    --indigo:     #6610f2;
    --purple:     #6f42c1;
    --pink:       #e83e8c;
    --red:        #dc3545;
    --orange:     #fd7e14;
    --yellow:     #ffc107;
    --green:      #28a745;
    --teal:       #20c997;
    --cyan:       #17a2b8;
    --blanc:      #fff;
    --gray:       #6c757d;
    --gray-dark:  #343a40; */
    --gris-noir:    rgb(88, 89, 91);
    --gris-clair:   rgb(231, 231, 231);
    --bleu-clair:   rgb(117, 187, 194);
    --bleu-fonce:   rgb(62, 102, 108);
    --vert:         rgb(133, 195, 140);
    --blanc:        #fff;
    --noir:         #000;
    --radius:       10px;
    --input-radius: 5px;
    --padding:      15px;
}
*{
    box-sizing: border-box;
}
body{
    padding: 20px;
}
/* Texte gras */
.b,.strong{
    font-weight: bolder;
}
/* Texte Italique */
.italic{
    font-style: italic;
}
/* Texte Souligner */
.underline{
    text-decoration: underline;
}
.ligne{
    width:           100%;
    justify-content: center;
    display:         flex;
    flex-flow:       row wrap;
}
/* ------ Les deux colonnes droite et gauche ------ */
.col-gauche,.col-droite{
    padding:       10px;
    margin:        0 50px;   /* Espacement horizontal */
    border:        2px solid var(--gris-noir);
    border-radius: var(--radius);
    height:        500px;
    box-shadow:    6px 6px 10px var(--gris-noir);
    flex:          5;
}
/* ------ Pour téléphone mobile et tablettes ------ */
@media (max-width: 768px) {
    .ligne{
        flex-flow: column wrap;
        height: 100%;
    }
    .header{order: 1;}
    .col-gauche{
        order: 2;
        margin: 0px 0px;
        margin-bottom: 20px;
    }
    .col-droite{
        order: 3;
        margin: 0px 0px;
    }
    .footer{order: 4;}
}
/* Alignement horizontal : https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-6 */
/* Permet de centrer une div */
.centre{
    display: flex;
    justify-content: center;
}
/* Aligner une div à droite */
.droite{
    display: flex;
    justify-content: flex-end;
}
/* Aligner une div à gauche */
.gauche{
    display: flex;
    justify-content: flex-start;
}
/* Espace les divs sur toute la page */
.space-between{
    display: flex;
    justify-content: space-between;
}
/* Alignement vertical : https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-7 */
/* Alignement vertical en haut */
.v-haut{
    display: flex;
    align-items: flex-start;
}
/* Alignement vertical au centre */
.v-centre{
    display: flex;
    align-items: center;
}
/* Alignement vertical en bas */
.v-bas{
    display: flex;
    align-items: flex-end;
}
/* Cacher une div */
.hide{
    display: none !important;
}
/* ------ Données formulaire général ------ */
textarea{
    border-top-left-radius:  var(--radius);    /* WARNING: à revoir pour autres form */
    border-top-right-radius: var(--radius);    /* WARNING: à revoir pour autres form */
    resize:                  none;
    font-size:               1.3em;
    width:                   100%;
}
select{
    border-radius: var(--input-radius);
}
input[type=text]{
    border-radius: var(--input-radius);
    height:        30px;
}
select:focus, textarea:focus, input[type=text]:focus{
    border-radius: var(--input-radius);
    outline:       0;
    box-shadow:    0 0 5px var(--bleu-clair);
    border:        1px solid var(--bleu-clair);
    color:         var(--gris-noir);
}
