/*
 * Feuille de style globale
*/
/* Variables globales */
:root {
    /* --blue:       #007bff;
    --red:        #dc3545;
    --orange:     #fd7e14;
    --yellow:     #ffc107;
    --green:      #28a745;
    --gray:       #6c757d;
    --gray-dark:  #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
    --gris-noir    : rgb(88, 89, 91);
    --gris-clair   : rgb(231, 231, 231);
    --bleu-clair   : rgb(117, 187, 194);
    --bleu-fonce   : rgb(62, 102, 108);
    --vert         : rgb(133, 195, 140);
    --red          : #f44336;
    --blanc        : #fff;
    --noir         : #000;
    --radius       : 10px;
    --input-radius : 5px;
    --padding      : 15px;
}

* {
    box-sizing  : border-box;
    /*border      : 1px solid blue; !*Permet de visualiser les différents blocs*!*/
    font-family : Trebuchet, Arial, sans-serif;
}

body {
    padding : 20px;
}

hr {
    display : block;
    margin  : 1em auto;
    border  : 1px inset;
}

a {
    text-decoration : none;
}

.rouge {
    background-color : var(--red) !important;
}

/* Texte gras */
b, .b, .strong {
    font-weight : bolder;
}

/* Texte Italique */
.italic {
    font-style : italic;
}

/* Texte Souligné */
.underline {
    text-decoration : underline;
}

.ligne {
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    width           : 100%;
}

.column {
    display        : flex;
    flex-direction : column;
}

/* ------ Les deux colonnes droite et gauche ------ */
.col-gauche, .col-droite {
    flex          : 1 1 40%;
    padding       : 10px;
    height        : 500px;
    margin        : 0 50px 40px; /* Espacement horizontal et bas */
    border-radius : var(--radius);
    border        : 2px solid var(--gris-noir);
    box-shadow    : 6px 6px 10px var(--gris-noir);
}

/* ------ Pour  tablettes ------ */
@media (max-width : 768px) {
    .ligne {
        flex-flow : column wrap;
        height    : 100%;
    }

    .header {order : 1;}

    .col-gauche, .col-droite {
        margin : 20px 0;
        height : 500px;
    }

    .footer {order : 10;}
}

/* ------ Pour téléphone mobile ------ */
@media (max-width : 576px) {
    .ligne {
        flex-flow : column wrap;
        height    : 100%;
    }

    .header {order : 1;}

    .col-gauche, .col-droite {
        margin : 20px 0;
    }

    .footer {order : 10;}
}

/* Alignement horizontal : https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-6 */
/* Permet de centrer une div */
.centre {
    display         : flex;
    justify-content : center;
}

/* Aligner une div à droite */
.droite {
    display         : flex;
    justify-content : flex-end;
}

/* Aligner une div à gauche */
.gauche {
    display         : flex;
    justify-content : flex-start;
}

/* Espace les divs sur toute la page */
.space-between {
    display         : flex;
    justify-content : space-between;
}

.space-around {
    display         : flex;
    justify-content : space-around;
}

/* Alignement vertical : https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-7 */
/* Alignement vertical en haut */
.v-haut {
    display     : flex;
    align-items : flex-start;
}

/* Alignement vertical au centre */
.v-centre {
    display     : flex;
    align-items : center;
}

/* Alignement vertical en bas */
.v-bas {
    display     : flex;
    align-items : flex-end;
}

/* Cacher une div */
.hide {
    display : none !important;
}

.show {
    display : block !important;
}

.cursor {
    cursor : pointer;
}

.overflow-y {
    overflow-y : auto;
}

.text-medium {
    font-size : 1.2em !important;
}

/* ------ Données formulaire général ------ */
textarea {
    border-top-left-radius  : var(--radius); /* WARNING: à revoir pour autres form */
    border-top-right-radius : var(--radius); /* WARNING: à revoir pour autres form */
    resize                  : none;
    font-size               : 1.3em;
    width                   : 100%;
}

select {
    -webkit-appearence : none;
    appearence         : none;
    border-radius      : var(--input-radius);
    padding            : 7px;
    margin             : 10px 0;
}

input[type=text], input[type=number], input[type=password], input[type=email], input[type=datetime-local], input[type=date] {
    border-radius : var(--input-radius);
    height        : 30px;
}

select:focus, textarea:focus, input[type=text]:focus {
    border-radius : var(--input-radius);
    outline       : 0;
    box-shadow    : 0 0 5px var(--bleu-clair);
    border        : 1px solid var(--bleu-clair);
    color         : var(--gris-noir);
}

/* ------ Popup général ------ */
.modal {
    position         : fixed;
    display          : none;
    top              : 0;
    bottom           : 0;
    right            : 0;
    left             : 0;
    z-index          : 100;
    overflow         : hidden;
    outline          : 0;
    overflow-y       : auto;
    background-color : rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Contenu globale du modal */
.modal > .modal-content {
    display          : flex;
    flex-direction   : column;
    pointer-events   : auto;
    margin           : 8% auto;
    width            : 40%;
    border-radius    : var(--radius);
    background-color : var(--blanc);
    box-shadow       : 2px 2px 10px var(--gris-clair);
    animation        : modalFadeIn .5s;
}

/* En-tête du modal */
.modal-header {
    border-top-right-radius : var(--radius);
    border-top-left-radius  : var(--radius);
    background-color        : var(--gris-clair);
    height                  : 50px;
    padding                 : 1px 15px;
}

.modal-footer {
    border-bottom-left-radius  : var(--radius);
    border-bottom-right-radius : var(--radius);
    background-color           : var(--gris-clair);
    height                     : max-content;
    padding                    : 10px;
}

/* Contenu principal du modal */
.modal-body {
    border-top    : 1px solid var(--gris-noir);
    border-bottom : 1px solid var(--gris-noir);
    padding       : 15px;
}

.btn-modal-submit {
    padding          : 8px;
    border-radius    : 5px;
    background-color : var(--vert);
    color            : var(--blanc);
    width            : max-content;
}

.btn-modal-submit:hover, .btn-modal-submit:focus {
    opacity : 0.7;
}

/* Bouton croix fermeture du modal */
.close {
    color       : var(--gris-noir);
    float       : right;
    font-size   : 28px;
    font-weight : bold;
}

.close:hover, .close:focus {
    color           : var(--noir);
    cursor          : pointer;
    text-decoration : none;
}

@keyframes roadRunnerIn {
    0% {
        transform : translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
        transform : translateX(30px) skewX(0deg) scaleX(.9);
    }
    100% {
        transform : translateX(0px) skewX(0deg) scaleX(1);
    }
}

@keyframes roadRunnerOut {
    0% {
        transform : translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
        transform : translateX(-30px) skewX(-5deg) scaleX(.9);
    }
    100% {
        transform : translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}

@keyframes modalFadeIn {
    0% { background-color : transparent; }
    100% { background-color : white; }
}

@keyframes fadeOut {
    0% { background : rgba(0, 0, 0, .7); }
    100% { background : rgba(0, 0, 0, .0); }
}

.btn-dropdown {
    cursor : pointer;
    border : none;
}

.dropdown {
    position : relative;
    display  : inline-block;
}

.dropdown-content {
    display          : none;
    position         : absolute;
    right            : 0;
    min-width        : 120px;
    box-shadow       : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index          : 2;
    border-radius    : var(--radius);
    font-size        : 20px;
    padding          : 10px;
    background-color : var(--gris-clair);
}

.dropdown-content a {
    color            : var(--bleu-fonce);
    padding          : 12px 16px;
    text-decoration  : none;
    display          : flex;
    justify-content  : center;
    border-radius    : 50px;
    background-color : var(--bleu-clair);
    margin-bottom    : 5px;
}

.dropdown-content a:hover {
    background-color : var(--bleu-fonce);
    color            : var(--gris-clair);
    border-radius    : 50px;
}

.back-button {
    font-size        : 25px;
    text-decoration  : none;
    background-color : var(--bleu-fonce);
    color            : var(--blanc);
    border-radius    : var(--input-radius);
    padding          : 10px;
}

.back-button:hover {
    content          : '< ';
    background-color : var(--bleu-clair);
    color            : var(--noir);
}

.back-button:hover:before {
    content : '< ';
}

::-webkit-scrollbar {
    width            : 10px;
    background-color : #F5F5F5;
    border-radius    : 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius      : 15px;
    background-color   : #F5F5F5;
}


::-webkit-scrollbar-thumb {
    border-radius      : 15px;
    -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, .3);
    background-color   : var(--bleu-fonce);
    padding-top        : 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color : rgba(62, 102, 108, 0.85);
}

ul.navbar {
    list-style-type  : none;
    text-align       : center;
    border-radius    : 10px;
    background-color : rgba(0, 0, 0, 0.7);
}

li.navitem {
    display : inline-flex;
}

li.navitem > a {
    display     : flex;
    color       : white;
    text-align  : center;
    padding     : 20px 20px;
    font-weight : bold;
}

/* Change the link color to #111 (black) on hover */
li.navitem > a:hover {
    background-color : white;
    color            : black;
}

.active {
    background-color : var(--bleu-clair);
}

.btn {
    font-size        : 20px;
    text-decoration  : none;
    background-color : var(--bleu-fonce);
    color            : var(--blanc);
    border-radius    : var(--input-radius);
    padding          : 10px;
}

.btn:hover {
    background-color : var(--bleu-clair);
    color            : var(--noir);
}

.btn-red {
    font-size        : 1.2em;
    text-decoration  : none;
    background-color : var(--red);
    color            : var(--blanc);
    border-radius    : var(--input-radius);
    padding          : 10px;
}

.btn-red:hover {
    opacity : 0.85;
    color   : var(--noir);
}

.gallery {
    text-align : center;
    border     : 1px solid black;
}

table {
    margin : auto;
}

td {
    text-align : center;

}

td > img {
    width  : 350px;
    height : 250px;
}

.prix {
    display          : inline-block;
    border-radius    : 4px;
    background-color : var(--bleu-clair);
    border           : none;
    color            : #FFFFFF;
    text-align       : center;
    font-size        : 18px;
    padding          : 10px;
    width            : 35%;
    transition       : all 0.5s;
    cursor           : pointer;
    margin           : 15px;
}

.prix span {
    cursor     : pointer;
    display    : inline-block;
    position   : relative;
    transition : 0.5s;
}

.prix span:after {
    content    : '\00bb';
    position   : absolute;
    opacity    : 0;
    top        : 0;
    right      : -20px;
    transition : 0.5s;
}
