html, body {
    box-sizing: border-box;
}

#footer .left{
    text-align:left;
    float:left;
    margin:20px;
    padding-left: 10px;
    }
#footer .right{
    float:right;
    text-align:right;
    margin:20px;
    padding-right: 10px;
    }
#footer .centre{
    text-align:center;
    margin:20px;
    }
#footer{
    background: rgb(231, 231, 231);
    border: 1px solid #000000;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
    margin-bottom: 10px;
}
#header .centre{
    font-size: 30px;
    text-align:center;
    margin:20px;
}
#header .left{
    float:left;
}
#header .right{
    float:right;
}
#header{
    padding-right: 20px;
    padding-left: 20px;
}
.vl {
    border-left: 3px solid rgba(109, 111, 113, 0.529);
    height:78px;
    position: absolute;
    margin-left: 20%;
}
.vl2 {
    border-left: 3px solid rgba(109, 111, 113, 0.52);
    height:78px;
    position: absolute;
    margin-left: 70%;
}
.boutton {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: rgb(190, 221, 249);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(73, 118, 157);

  }
.boutton:hover {background-color: #3a3a3a}
.boutton:active {
    background-color: #949494;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
